<mat-card class="card">
  <h1 class="title ml-20 mt-20">Add New Category :</h1>
  <mat-divider class="divider mb-20"></mat-divider>
  <mat-card-content>
    <div class="add-category">
      <div class="wrapper">
        <form (ngSubmit)="formSubmit()">
          <div class="input-box">
            <input
              [(ngModel)]="category.title"
              type="text"
              name="title"
              placeholder="Category Title"
              required
            />
          </div>
          <div>
            <textarea
              [(ngModel)]="category.description"
              name="description"
              placeholder="Category Description"
              required
              rows="12"
            ></textarea>
          </div>
          <button type="submit" class="btn">Add Category</button>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
