.card {
  margin-top: 20px;
  border: 4px solid #0088a9;
  border-radius: 25px;
  background-color: #24252a;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #0088a9;
}

button span {
  font-size: 20px;
  color: #0088a9;
}

.icon {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 20px;
  color: #fff;
}

.divider {
  background-color: #0088a9;
  height: 2px;
}
