<mat-card class="card">
  <h1 class="title ml-20 mt-20">
    Adding Question to : <b style="color: #fff">{{ qTitle }}</b>
  </h1>
  <mat-divider class="divider mb-20"></mat-divider>
  <mat-card-content>
    <h1 class="sub-title">Enter the details of the New Question :</h1>
    <div class="add-category">
      <div class="wrapper">
        <form (ngSubmit)="formSubmit()">
          <div>
            <textarea
              [(ngModel)]="question.content"
              type="text"
              name="content"
              placeholder="Enter here"
              matInput
              rows="5"
              required
            ></textarea>
          </div>
          <div class="input-box options">
            <div class="col-md-6">
              <!-- Option 1 -->
              <input
                [(ngModel)]="question.option_1"
                type="text"
                name="option_1"
                placeholder="Option 1"
                required
              />
              <!-- Option 2 -->
              <input
                [(ngModel)]="question.option_2"
                type="text"
                name="option_2"
                placeholder="Option 2"
                required
              />
            </div>
            <div class="col-md-6">
              <!-- Option 3 -->
              <input
                [(ngModel)]="question.option_3"
                type="text"
                name="option_3"
                placeholder="Option 3"
              />
              <!-- Option 4 -->
              <input
                [(ngModel)]="question.option_4"
                type="text"
                name="option_4"
                placeholder="Option 4"
              />
            </div>
          </div>
          <div class="input-box">
            <mat-label class="ml-20">Select Category: </mat-label>
            <mat-select name="answer" required [(ngModel)]="question.answer">
              <mat-option *ngIf="question.option_1" [value]="question.option_1"
                >{{ question.option_1 }}
              </mat-option>
              <mat-option *ngIf="question.option_2" [value]="question.option_2"
                >{{ question.option_2 }}
              </mat-option>
              <mat-option *ngIf="question.option_3" [value]="question.option_3"
                >{{ question.option_3 }}
              </mat-option>
              <mat-option *ngIf="question.option_4" [value]="question.option_4"
                >{{ question.option_4 }}
              </mat-option>
            </mat-select>
          </div>
          <button type="submit" class="btn">Add Category</button>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
