<div class="bootstrap-wrapper">
  <div class="container-fluid background">
    <div class="row">
      <div class="home">
        <div class="content">
          <div class="title">
            Welcome to <span>Quizio</span>. Prepare with confidance.
          </div>
          <h2>Excel every exam with our high yield <span>MCQ'S.</span></h2>

          <button routerLink="/signup">Get Started...</button>
        </div>
        <div class="text-center">
          <img src="../../../assets/AI.png" id="robot" />
        </div>
      </div>
    </div>
  </div>
</div>
