<mat-card class="card">
  <mat-action-list>
    <div mat-subheader class="title">Menu</div>
    <mat-divider class="mt-10 mb-10 divider"></mat-divider>
    <button mat-list-item routerLink="/admin/profile">
      <fa-icon [icon]="user" class="icon"></fa-icon>
      <span>Profile</span>
    </button>
    <button mat-list-item routerLink="/admin/categories">
      <fa-icon [icon]="list" class="icon"></fa-icon>
      <span>Categories</span>
    </button>
    <button mat-list-item routerLink="/admin/add-categories">
      <fa-icon [icon]="plus" class="icon"></fa-icon>
      <span>Add Categories</span>
    </button>
    <button mat-list-item routerLink="/admin/quizzes">
      <fa-icon [icon]="quiz" class="icon"></fa-icon>
      <span>Quizzes</span>
    </button>
    <button mat-list-item routerLink="/admin/add-quiz">
      <fa-icon [icon]="plus" class="icon"></fa-icon>
      <span>Add Quizzes</span>
    </button>
  </mat-action-list>
</mat-card>
